body {
    font-family: Arial, sans-serif;
    background-position: center;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../media/Belgium_backgorund.jpg");
    border-image: fill 0 linear-gradient(#0003, #000);
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    z-index: -1;
  }

@font-face {
    font-family: "myFont";
    src: url("../fonts/horseshoes_and_lemonade/Truculenta-VariableFont_opsz\,wdth\,wght.ttf") format("truetype");
}
@font-face {
    font-family: "myFont2";
    src: url("../fonts/komyca/DonegalOne-Regular.ttf") format("truetype");
}

main {
    padding: 20px;
}

.question {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 50px; /* Increase the padding to make the box bigger */
    border-radius: 40px;
    text-align: center;
    
    max-width: 600px; /* Add max-width for better responsiveness */
    margin: 0 auto; /* Center the box horizontally */
}

.question h2 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: myFont;
}

.question p {
    font-size: 30px;
    font-family: myFont;
}

form {
    margin-top: 10px;
}

input[type="radio"] {
    margin-right: 0;
}

input[type="submit"] {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: myFont;
    font-size: 25px;
    margin: 20px;
}

/* Your existing CSS */

.choices{
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Evenly distribute choices */
    margin-bottom: 10px;
}

.choice, .submitAnswer{
    flex-basis: 48%; /* Adjust width to fit two choices in a row */
    background-color: rgb(255, 145, 0);
    border-radius: 20px;
    font-size: 20px;
    font-family: myFont2;
    margin-top: 10px; /* Add margin to separate choices */
}


input[type="button"] {
    background-color: rgb(255, 145, 0); /* Oranje achtergrondkleur */
    color: white; /* Witte tekstkleur */
    padding: 10px 20px; /* Padding aanpassen */
    border: none; /* Geen rand */
    border-radius: 5px; /* Afgeronde hoeken */
    cursor: pointer; /* Cursor veranderen naar pointer bij hover */
    font-family: 'myFont2', sans-serif; /* Lettertype instellen */
    font-size: 20px; /* Tekengrootte aanpassen */
    margin-top: 10px; /* Bovenmarge toevoegen */
}

input[type="button"]:hover {
    background-color: rgb(255, 120, 0); /* Donkerder oranje bij hover */
}