body {
    font-family: Arial, sans-serif;
    background-image: url('../media/duitsland.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: "myFont";
    src: url("../fonts/horseshoes_and_lemonade/Truculenta-VariableFont_opsz\,wdth\,wght.ttf") format("truetype");
}
@font-face {
    font-family: "myFont2";
    src: url("../fonts/komyca/DonegalOne-Regular.ttf") format("truetype");
}

main {
    padding: 20px;
}

.question {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 50px; /* Increase the padding to make the box bigger */
    border-radius: 40px;
    text-align: center;
    
    max-width: 600px; /* Add max-width for better responsiveness */
    margin: 0 auto; /* Center the box horizontally */
}

.question h2 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: myFont;
}

.question p {
    font-size: 30px;
    font-family: myFont;
}

form {
    margin-top: 10px;
}

input[type="radio"] {
    margin-right: 0;
}

input[type="submit"] {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: myFont;
    font-size: 25px;
    margin: 20px;
}

/* Your existing CSS */

.choices{
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Evenly distribute choices */
    margin-bottom: 10px;
}

.choice, .submitAnswer{
    flex-basis: 48%; /* Adjust width to fit two choices in a row */
    background-color: rgb(255, 145, 0);
    border-radius: 20px;
    font-size: 20px;
    font-family: myFont2;
    margin-top: 10px; /* Add margin to separate choices */
}


/* Your existing CSS */
